{%extends 'generalPageStyled.html'%} {%block mainBlock%}
<h2>Add Employee Data</h2>

<form action="/Employee/AddEmployee" method="post">
  <label>First name:<input type="text" name="first_name" /><br /></label>
  <label>Last Name:<input type="text" name="last_name" /><br /></label>
  <label>Business Unit:<input type="text" name="business_unit" /><br /></label>
  <label>State:<input type="text" name="state" /><br /></label>

  <button type="submit">submit</button>
</form>
<span id="txt"></span>

{%endblock%}