<!DOCTYPE html>
<html lang="en">

    <article>
        {% block mainBlock %}
        Page under construction.
        {% endblock mainBlock %}
    </article>

    <footer class="footer-styles container" style="border-top-style: solid;">
        <br />

        <div class="row"style="border-top-width: 5px; border-top-color:white;">
            <div class="col-md-5 lower-height">
                <p class="footer-text-header">Application Pages</p>

            </div>
            <div class="col-md-7 lower-height">
                <p class="footer-text-header"> For any issues or questions, please contact us at: <br /></p>
                <p class="footer-text-body">ExampleEmail@something.com<br />
                (111) 111-1111<br />
                111 N 1st Street, Laramie WY, 80272</p>
            </div>
        </div>
        <div>
            <p class="statement-of-purpose">
                A collaborative pilot between Wyoming's Innovation Network of Public Higher Education Instutitions and
            Cardiff University.
            </p>

        </div>

    </footer>
</body>

</html>
