<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SE Bootcamp</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <article>
        {% block mainBlock %}
        Page under construction.
        {% endblock mainBlock %}
    </article>

    <footer class="footer-styles container" style="border-top-style: solid;">
        <br />

        <div class="row"style="border-top-width: 5px; border-top-color:white;">
            <div class="col-md-5 lower-height">
                <p class="footer-text-header">Application Pages</p>
                <a href="/Employee/AddEmployee" class="footer-link"> Add An Employee <br /></a>
                <a href="/Employee/Search" class="footer-link"> Search For An Employee</a>
            </div>
            <div class="col-md-7 lower-height">
                <p class="footer-text-header"> For any issues or questions, please contact us at: <br /></p>
                <p class="footer-text-body">ExampleEmail@something.com<br />
                (111) 111-1111<br />
                111 N 1st Street, Laramie WY, 80272</p>
            </div>
        </div>
        <div>
            <p class="statement-of-purpose">
                A collaborative pilot between Wyoming's Innovation Network of Public Higher Education Instutitions and
            Cardiff University.
            </p>

        </div>

    </footer>
</body>

</html>