<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SE Bootcamp</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tri-Hydro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Employee/AddEmployee">Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Employee/Search">Search Employees</a></li>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/Employee/AddEmployee" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Holder
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">ETC</a>
                        <a class="dropdown-item" href="#">ETC</a>
                        <a class="dropdown-item" href="#">ETC</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <article>
        {% block mainBlock %}
        Page under construction.
        {% endblock mainBlock %}
    </article>

    <footer class="footer-styles container" style="border-top-style: solid;">
        <br />

        <div class="row"style="border-top-width: 5px; border-top-color:white;">
            <div class="col-md-5 lower-height">
                <p class="footer-text-header">Application Pages</p>
                <a href="EmployeeSQLInjection.html" class="footer-link"> Add An Employee <br /></a>
                <a href="EmployeeSearch.html" class="footer-link"> Search For An Employee</a>
            </div>
            <div class="col-md-7 lower-height">
                <p class="footer-text-header"> For any issues or questions, please contact us at: <br /></p>
                <p class="footer-text-body">ExampleEmail@something.com<br />
                (111) 111-1111<br />
                111 N 1st Street, Laramie WY, 80272</p>
            </div>
        </div>
        <div>
            <p class="statement-of-purpose">
                A collaborative pilot between Wyoming's Innovation Network of Public Higher Education Instutitions and
            Cardiff University.
            </p>

        </div>

    </footer>
</body>

</html>
